blip-cli/target
blip-cli/types/target
blip-cli/data
blip-cli/flow.json
blip-cli/input.txt

proxy-server/Server.Api/bin
proxy-server/Server.Api/obj
proxy-server/Server.Api/appsettings.Development.json

proxy-server/Server.Models/bin
proxy-server/Server.Models/obj

proxy-server/Server.Services/bin
proxy-server/Server.Services/obj